form {
    display: flex;
    flex-flow: row wrap;
    margin: 15% 0% 0 39.5%;
    background-color: #565656;
    border: solid 2px;
    border-radius: 8px 8px 8px 8px;
    width: 12%;
    padding: 2% 1% 1%;
}

section {
    display: flex;
    flex-flow: row wrap;
    margin-top: 3%;
}

.screen {
    margin-top: 5%;
}

.screen input {
    width: 100%;
    padding: 5%;
    text-align: right;
    background-color: #83895d;
    border-color: #83895d;
}



.system-functionality {
    border-radius: 13px 13px 13px 13px;
    width: 30%;
    flex: initial;
    margin-left: 3.2%;
    margin-bottom: 8%;
    font-size: 12px;
    outline: none;
}

.system-functionality:nth-of-type(1) {
    font-size: 10px;
}


input {
    border-radius: 5px 6px 6px 6px;
    background-color: white;
    width: 21%;
    flex: auto;
    margin-left: 4%;
    margin-bottom: 10px;
    padding: 4px;
    outline: none;
}



/* 
input:nth-of-type(17){
    background-color: #d4a95b;
} */